@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond|Tangerine");
@import url(//fonts.googleapis.com/earlyaccess/hannari.css);
@import url(//fonts.googleapis.com/earlyaccess/kokoro.css);
@import url(//fonts.googleapis.com/earlyaccess/sawarabimincho.css);
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

.cf::after {
  content: "";
  display: block;
  clear: both;
}

body {
  padding: 40px 10px 0 10px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 100;
  color: #333;
}

#wrap {
  margin: 0 auto;
  max-width: 940px;
}

.h2-title {
  font-size: 26px;
}

#header {
  position: relative;
}

#header #gnav {
  position: absolute;
  top: 100%;
  width: 100%;
}

#header .gnav-ul {
  display: none;
}

#header #logo {
  float: left;
  font-size: 32px;
}

#main-wrap {
  background-color: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 100px;
}

.h2-title {
  font-size: 30px;
  text-align: center;
  padding-bottom: 40px;
  font-family: "Cormorant Garamond", serif;
  font-weight: normal;
}

#mv {
  padding-top: 50px;
  padding-bottom: 100px;
}

section {
  padding-bottom: 100px;
}

main h3 {
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}

main p {
  text-align: center;
}

main .bold {
  padding-top: 10px;
  font-size: 22px;
}

#top-modoru {
  display: block;
  width: 80px;
  height: 80px;
  text-indent: -9999px;
  background-image: url(../img/top-modoru.png);
  background-repeat: no-repeat;
  transition: 0.8s;
  position: relative;
  top: -40px;
  margin: 0 auto;
}

#top-modoru:hover {
  opacity: 0.9;
  background-image: url(../img/top-modoru-hover.png);
}

#gnav-btn {
  float: right;
}

#gnav {
  clear: both;
}

#gnav li {
  text-align: right;
  border-bottom: 1px solid #aaaaaa;
  background-color: #fff;
}

#gnav a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 20px 0;
}

#footer {
  height: 100px;
}

#footer p {
  text-align: center;
  line-height: 100px;
  white-space: nowrap;
  font-size: 15px;
}

#top-modoru {
  display: block;
}
