@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond|Tangerine");
@import url(//fonts.googleapis.com/earlyaccess/hannari.css);
@import url(//fonts.googleapis.com/earlyaccess/kokoro.css);
@import url(//fonts.googleapis.com/earlyaccess/sawarabimincho.css);
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

.cf::after {
  content: "";
  display: block;
  clear: both;
}

body {
  padding: 40px 10px 0 10px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 100;
  color: #333;
}

#wrap {
  margin: 0 auto;
  max-width: 940px;
}

#header #logo {
  float: left;
  font-size: 32px;
}

#header .menu,
#header .menu span {
  display: inline-block;
  transition: .4s;
  box-sizing: border-box;
}

#header .menu {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 5s;
}

#header .menu span {
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
}

#header .menu span:nth-child(1) {
  top: 0;
}

#header .menu span:nth-child(2) {
  top: 10px;
}

#header .menu span:nth-child(3) {
  bottom: 0;
}

#header .menu.active span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#header .menu.active span:nth-child(2) {
  top: 10px;
  opacity: 0;
}

#header .menu.active span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

@media screen and (min-width: 600px) {
  #header #logo {
    float: none;
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
  }
}

html,
body {
  height: 100%;
}

section {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  transition: .5s;
}

section:hover {
  background-color: #fff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

section:hover .html5 {
  background-image: url(../img/html5.png);
}

section:hover .css3 {
  background-image: url(../img/css3.png);
}

section:hover .js {
  background-image: url(../img/js.png);
}

section:hover .about-p {
  background-image: url(../img/about-p.png);
}

section:hover .photo-p {
  background-image: url(../img/photo-p.png);
}

.about-p {
  margin: 0 auto;
  text-indent: -9999px;
  background-image: url(../img/about-pp.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  transition: .4s;
  max-width: 96%;
  height: 200px;
}

.photo-p {
  margin: 0 auto;
  text-indent: -9999px;
  background-image: url(../img/photo-pp.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: .4s;
  max-width: 96%;
  height: 200px;
}

.html5 {
  display: inline-block;
  width: 40px;
  height: 56px;
  text-indent: -9999px;
  background-image: url(../img/html5-hover.png);
  background-repeat: no-repeat;
  transition: .4s;
}

.css3 {
  display: inline-block;
  width: 40px;
  height: 56px;
  text-indent: -9999px;
  background-image: url(../img/css3-hover.png);
  background-repeat: no-repeat;
  transition: 0.4s;
}

.js {
  display: inline-block;
  width: 40px;
  height: 56px;
  text-indent: -9999px;
  background-image: url(../img/js-hover.png);
  background-repeat: no-repeat;
  transition: 0.4s;
}

#logo a {
  display: block;
  text-decoration: none;
  color: #333;
  transition: .3s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#logo a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

#work p {
  padding-top: 20px;
}

.skill-photo {
  text-align: center;
  margin-bottom: 40px;
}

.mail-btn {
  color: #333;
  font-size: 24px;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: 1s;
  margin-bottom: 40px;
}

.mail-btn:hover {
  opacity: 0.5;
}

.main-wrap {
  background-color: #f1f1f1;
  padding-top: 30px;
  padding-bottom: 50px;
}

.h2-title {
  font-size: 30px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: normal;
  width: 95%;
  background-color: #f9f9f9;
  margin: 0 auto;
}

.margin-h2 {
  margin-bottom: 40px;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.mt-h3 {
  margin-top: 30px;
}

#mv {
  padding-top: 50px;
  padding-bottom: 50px;
}

.portfolio {
  overflow: hidden;
  position: relative;
}

.portfolio .caption1 {
  position: relative;
}

.portfolio .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /* 表示させない */
  background-color: #fff;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.portfolio:hover .mask {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;
  /* ホバーで表示する */
}

main h3 {
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}

main p {
  text-align: center;
}

main .bold {
  padding-top: 10px;
  font-size: 22px;
}

#top-modoru {
  display: block;
  width: 80px;
  height: 80px;
  text-indent: -9999px;
  background-image: url(../img/top-modoru.png);
  background-repeat: no-repeat;
  transition: 0.8s;
  position: relative;
  top: -40px;
  margin: 0 auto;
}

#top-modoru:hover {
  opacity: 0.9;
  background-image: url(../img/top-modoru-hover.png);
}

@media screen and (min-width: 600px) {
  #top-modoru {
    clear: both;
  }
}

#header {
  position: relative;
}

#header #gnav-btn {
  float: right;
  transition: 0.5s;
}

#header #gnav-btn:hover {
  opacity: .5;
}

#header #gnav {
  clear: both;
  position: relative;
  z-index: 10;
  position: absolute;
  top: 100%;
  width: 100%;
}

#header #gnav ul {
  display: none;
}

#header #gnav li {
  text-align: right;
  border-bottom: 1px solid #aaaaaa;
  background-color: #fff;
}

#header #gnav li a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 20px 0;
  transition: .5s;
}

#header #gnav li a:hover {
  opacity: .5;
}

@media screen and (min-width: 600px) {
  #header {
    position: none;
  }
  #header #gnav-btn {
    float: none;
    display: none;
  }
  #header #gnav {
    clear: both;
    position: static;
  }
  #header #gnav ul {
    display: block !important;
  }
  #header #gnav li {
    width: calc(100% / 5);
    float: left;
    text-align: center;
    border-top: 1px solid #aaaaaa;
  }
  #header #gnav li .first {
    padding: 16.5px 0;
  }
}

#footer {
  clear: both;
  height: 100px;
}

#footer p {
  text-align: center;
  line-height: 100px;
  white-space: nowrap;
  font-size: 15px;
}

#top-modoru {
  display: block;
}
