#header {
    position: relative;
    #gnav {
        position: absolute;
        top: 100%;
        width: 100%;
    }
    .gnav-ul {
        display: none;
    }
    #logo {
        float: left;
        font-size: 32px;
    }
}

@media screen and (min-width:$tab) {
    #header {
        position: none;
        #gnav {
            position: none;
        }
        .gnav-ul {
            display: block;
        }
        #logo {
            float: none;
            text-align: center;
            font-size: 40px;
            padding-bottom: 50px;
        }
    }
}

@media screen and(min-width:$pc) {
    #header {
        width: 23%;
        background-color: #f9f9f9;
        #logo {
            font-size: 30px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}