#header {
    #logo {
        float: left;
        font-size: 32px;
    }
}

@media screen and (min-width:$tab) {
    #header {
        #logo {
            float: none;
            text-align: center;
            font-size: 40px;
            padding-bottom: 50px;
        }
    }
}

@media screen and(min-width:$pc) {
    #header {
        #logo {
            font-size: 30px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}