#gnav-btn {
	float: right;
}

#gnav{
    clear: both;
    li{
        text-align: right;
        border-bottom: 1px solid #aaaaaa;
        background-color: #fff;
    }
    a{
        display: block;
        text-decoration: none;
        color: $color-main;
        padding: 20px 0;
    }
}