#header {
    position: relative;
    #gnav-btn {
        float: right;
        transition: 1.0s;
        &:hover {
            opacity: 0.5;
        }
    }
    #gnav {
        clear: both;
        position: relative;
        z-index: 10;
        position: absolute;
        top: 100%;
        width: 100%;
        ul {
            display: none;
        }
        li {
            text-align: right;
            border-bottom: 1px solid #aaaaaa;
            background-color: #fff;
            a {
                display: block;
                text-decoration: none;
                color: $color-main;
                padding: 20px 0;
                transition: 1.0s;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}

@media screen and (min-width:$tab) {
    #header {
        position: none;
        #gnav-btn {
            float: none;
            display: none;
        }
        #gnav {
            clear: both;
            position: static;
            ul {
                display: block !important;
            }
            li {
                width: calc(100% / 5);
                float: left;
                text-align: center;
                border-top: 1px solid #aaaaaa;
                .first {
                    padding: 16px 0;
                }
            }
        }
    }
}

@media screen and(min-width:$pc) {
    #header {
        width: 23%;
        background-color: #f1f1f1;
        #gnav {
            ul {
                padding-bottom: 50px;
            }
            li {
                width: 100%;
                float: left;
                border-top: none;
            }
        }
    }
}